.Container {
    height: 100%;
    display: grid;
}

.about {
    padding: 3em 2em;
    font-size: 0.75rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

.about_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 40em;
    margin-bottom: 1.75em;
}

.about_section_img {
    box-sizing: border-box;
    flex-basis: 40%;
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
    margin-bottom: 1.5em;
}

.about_section_text {
    flex-basis: 47%;
    text-align: left;
    word-wrap: break-word;
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);

}

.introContainer {
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.introItem {
    display: flex;
    flex-direction: column;
}

.introItem:first-child {
    margin-bottom: 3em;
}

.introItemImg {
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px black;
    height: 20em;
    object-fit: cover;
    object-position: center;
}

.introItemTextTitle,
.introItemTextDes {
    margin-bottom: 0;
}

.introItemTextDes {
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.158);
    text-shadow: 0px 0px 1px black;
}

.afImg,
.logoImgContainer {
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
}

.logoImgContainer {
    background-color: black;
    width: 100%;
    padding: 3em;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/queens-creamy-cake.appspot.com/o/images%2Ftarte%2Ftarte_1.jpg?alt=media&token=e7f30f3d-26e1-4231-8be7-4ff5df092db9");
    /* Full height */
    height: 45em;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.logoImg {
    max-width: 672px;
    max-height: 390px;
}

.exploreTitle {
    font-size: 2rem;
    margin: 1em auto 0;
    text-align: center;
}

.exploreContainer {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x proximity;
    padding: 2.25em 1.75em;
    padding-right: 0;
    width: 100%;
}

.exploreItem {
    margin-right: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    scroll-snap-align: center;
    width: 100%;
    min-width: 18em;
}

.exploreItem:last-child {
    margin-right: 0;
}

.exploreItemDes {
    padding: 1.175em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-size: 0.75rem;
}

.exploreItemDesText {
    margin-top: 0;
    text-align: center;
}

.styledExploreImg {
    display: grid;
    grid-template: 8.75em 12.5em / 1fr;
}

.gelato {
    background: none;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1;
}

.exploreItemImg {
    object-fit: cover;
    object-position: bottom;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.readMoreBtn,
.viewMenuBtn,
.customizeBtn {
    font-size: 0.65rem;
    display: block;
    padding: 0.7em 1.75em;
    font-weight: 700;
    width: fit-content;
    letter-spacing: 1px;
    box-shadow: 0px 0px 2px 0px black;
    transition: background 300ms;
    border-radius: 30px;
}

.readMoreBtn {
    background-color: gold;
    background: linear-gradient(180deg, rgb(238, 255, 0), rgb(255, 123, 0));
    color: rgb(0, 0, 0);
    margin: 0 auto;
}

.readMoreBtn:hover,
.readMoreBtn:focus {
    background-color: rgb(255, 145, 0);
    background: linear-gradient(360deg, rgb(238, 255, 0), rgb(255, 123, 0));
    box-shadow: 0px 0px 3px 0px rgb(255, 123, 0);
}

.viewMenuBtn,
.customizeBtn {
    margin-bottom: .5em;
}

.viewMenuBtn {
    background-color: rgba(255, 0, 149, 0.637);
    color: rgba(39, 1, 31, 0.822);
}

.viewMenuBtn:hover,
.viewMenuBtn:focus {
    background-color: rgba(34, 1, 41, 0.685);
    color: rgba(255, 255, 255, 0.637);
}

.customizeBtn {
    background-color: chartreuse;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.customizeBtn:hover,
.customizeBtn:focus {
    background-color: rgba(0, 0, 0, 0.555);
}

@media (min-width: 560px) {
    .introContainer {
        flex-direction: row;
        gap: 2em;
        padding-top: 4em;
        padding-bottom: 6em;
    }

    .introItem {
        flex-basis: 50%;
    }

    .introItem:first-child {
        margin-bottom: 0;
    }

    .introItemImg {
        height: 50vh;
    }

    .exploreItem {
        margin-right: 2.25em;
    }
}

@media (min-width: 768px) {
    .introContainer {
        gap: 3.5em;
        padding: 3.5em;
    }

    .introItemImg {
        height: 80vh;
    }

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2em;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .about_section {
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .about_section_img {
        max-height: 20em;
    }

    .about_section_text {
        max-width: 44em;
        margin: 0;
    }
}

@media (min-width: 950px) {

    .about,
    .about_section {
        gap: 2.75em;
    }
}

@media only screen and (max-device-width: 950px) {
    .logoImgContainer {
        background-attachment: scroll;
    }

    .about {
        width: 90%;
    }
}